html {
    margin: 0px;
    padding: 0px;
    font-family:'Quantico','Rajdhani';
    scroll-behavior: smooth;
}

.top-header {
  position:relative;
  background-color:aqua;

  height:500px;
  }

#top-tv-noise {
  width: 100%;
  height: 100%;
  position:absolute;
  right:0%;
  z-index: 0;
}

.top-cover-layer {
  position: absolute;
  background-color: #E58D09;
  height:100%;
  width: 70%;
  left:15%;
  /* how can i make this better */
  z-index: 1;
  opacity: 0.79 ;
}

.animated-text-css{
  color:aquamarine;
  font-size:50px;
  position: relative;
  top:50%;
  left:50%;
  z-index: 2;
}

@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 10.2em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animated-text-css {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}


.animated-text-css::after {
  content: "|";
  color:white;
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 0.5s;
  animation-timing-function: steps(1, end);
}


/* Navigation section from here */

.navigation-box {
  background-color: rgba(221, 218, 218, 0.431);
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.navigation-box > div {
  margin: 3px;
  padding: 3px;
  flex-basis:8%;  
  text-align: center;
  font-size: 24px;  
}

.navigation-box a {
  font-weight: bold;  
  font-style: italic;
  color: #219653;
  line-height: 34px;
}

/* a bit weird as the element display is set to flex now the width becomes a maximum width */

.navigation-box > div a:hover {
  color:yellow;
  background-color: white;
}

/* about-box styling starts from here*/

.about-box {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #219653;
  color: white;
}

.about-box p {
  border: 3px solid saddlebrown;
  font-size: 24px;

}


.about-box-content-wrapper {
text-align: justify;
width: 75%;
}

.about-box-header-wrapper {

}

#About {
font-size: 64px;
border: 3px solid saddlebrown;  
}

/* about-box styling ends here */

.interests-box {
  position: relative;
    background-color: rgba(221, 218, 218, 0.431);
    color: #219653;
}

#Interests {
  border:3px solid saddlebrown;
  text-align: right;
  padding-right:1%;

}

.interests-grid-wrapper {
  text-align: left;
  border:3px solid saddlebrown;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 50%));
}

/* interest-box styling ends here */













.timeline-box {
background-color: #219653;
color: white
}


.skills-box {
  text-align: right;
    background-color:  rgba(221, 218, 218, 0.431);
    color: #219653;
}

.works-box {
font-size: 100px;
color: #219653;
display:flex;
flex-direction: column;
align-items: center;

}


/* set the heading 'works' and 'grids' apart above*/

.works-grid-container {

display: grid;
grid-template-columns: repeat(autofit,minmax(200px,1fr));
grid-gap: 10px;
}
.works-grid-container > div{
color: white;
background-color: #219653;
text-align: center;

}

.works-grid-container > div:hover {
  color:white;
  background-color: black;

}

.folio-screen-cap {

height: 300px;
width:300px;

}


#ac-img {

width:%100;
height:%100;

}


.contact-box{
  color: white;
  text-align: center;
  background-color: #219653;

}


.sec-box {
  font-size: 30px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color:
}

.flex-wrapper-social{
display: flex;
flex-basis: content;

}


.social-media > div {

  width: 100px;

}

