html {
    
    font-family:'Quantico','Rajdhani';
    scroll-behavior: smooth;
}

body {

padding:0px;
margin:0px;


}

.top-header {
  position:relative;
  width: 100vw;
  height:33vh;
  }

#top-bg-video {
  min-width: 100vw;
  position:absolute;
  z-index: -1;
}

.top-cover-layer {
  position: absolute;
  background-color: lightgreen;
  height: 100%;
  width: 70vw;
  left:15%;
  /* how can i make this better */
  z-index: 1;
  opacity: 0.79 ;
}



.ani-text1 {
  color:white;
  animation: text1;
}

.ani-text2 {
  color:white;
  animation: text2;
}

.ani-text1, .ani-text2 {
  position:relative;
  left:25%;
  top:35%;
  right:25;
  z-index:2;
  font-size:5vh;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 12s;
  animation-timing-function: steps(15, end);
  animation-iteration-count: infinite;
}

.ani-text1::after, .ani-text2::after {
  color: #E58D09;
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 21em;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 19em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}








/* Navigation section from here */

.navigation-box {
  background-color: rgba(221, 130, 11, 0.7); 
    height:15vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.navigation-box > div {

  margin: 3px;
  padding: 3px;
  flex-basis:8%;  
  text-align: center;
  font-size: 5vh;
}

.navigation-box a {
  font-weight: bold;  
  font-style: italic;
  color: white;
  line-height: 34px;
}

/* a bit weird as the element display is set to flex now the width becomes a maximum width */

.navigation-box > div a:hover {
  color:lightgreen; 
}

/* about-box styling starts from here*/

.about-box {
  min-height: 75vh;
  width: 100vw;
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #219653;
  color: white;
}

.about-box p {
  font-size: 4.5vh;

}


.about-box-content-wrapper {
  align-self: center;
  text-align: justify;
  width: 75%;
}


#About {
  font-weight: bold;  
  font-style: italic;
  font-size: 12vh;
}

/* about-box styling ends here */

.interests-box {
  margin-bottom:2vh;
  min-height: 75vh;
  width: 100vw;
  position: relative;
  background-color: rgba(221, 218, 218, 0.431);
  color: #219653;
  
}

#interests-header {
  font-size: 12vh;
  font-weight: bold;  
  font-style: italic;
  text-align: left;
  padding-left:1%;
  
}

.interest-content-container {
  font-size: 6vh;
display:flex;
justify-content: space-evenly;

}

/* interest-box styling ends here */

.timeline-box {
  min-height: 75vh;
  width:100vw;

}

.timeline-grid{
  font-size: 5vh;
  display: grid;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: repeat(12,1fr);
  
}

.timeline-header {


grid-row: 19/13;
grid-column: 10/16;
font-size: 12vh;
font-style: italic;
font-weight: bold;
color: #219653;
}


.stage1-logo {

grid-row: 7/12;
grid-column: 1/5;
background-color:#219653;

}

.stage2-logo {

height: 100%;
width: 100%;
grid-row: 6/11;
grid-column: 5/9;
background-color: white;
}

.stage3-logo {

grid-row: 5/10;
grid-column: 9/13;
background-color:#219653;

}

.stage4-logo {

grid-row: 4/9;
grid-column: 13/17;
background-color: white;

}

.stage1-year {

grid-row: 5/7;
grid-column: 1/5;
color:white;
background-color: #219653;
}

.stage2-year {

grid-row: 4/6;
grid-column: 5/9;
color: #219653;
}

.stage3-year {

  grid-row: 3/5;
  grid-column: 9/13;
  color: white;
  background-color: #219653
  }

.stage4-year {
  
    grid-row: 2/4;
    grid-column: 13/17;
    color: #219653;
    }
  


.timeline-grid > div {


}


.timeline-green-area1 {
grid-row:12/13;
grid-column: 1/5;
background-color: #219653


}

.timeline-green-area2 {
grid-row: 1/3;
grid-column: 9/13;
background-color: #219653;

}




.skills-box {
  min-height: 100vh;
  width:100vw;
  background-color: #219653;
  color: white;
}

#skills-header {
  font-size: 12vh;
  text-align: left;
  padding:1%;
  font-style: italic;
}

.skills-flex-container {

display: flex;
justify-content: space-evenly;
align-items: flex-start;
}

.coding-sec-container {

font-size:3.5vh; 
  
}

.business-sec-container {

font-size:3.5vh;  

}

/* skills box styling ends here */

.works-box {
  height: auto;
  width:100vw;
  position: relative;
  color: #219653;
  display:flex;
  flex-direction: column;
}



/* set the heading 'works' and 'grids' apart above*/

#Works {
font-style: italic;
font-size:12vh;
  align-self: center;

}

.works-grid-container {
  font-size:5vh;
  display: grid;
  justify-content: space-evenly;

  grid-template-columns: repeat(auto-fit, 361px);
  grid-gap: 30px;
}
.works-grid-container > div{
  color: white;
  background-color: #219653;
  text-align: center;

}

.works-grid-container > div:hover {
  color:white;
  background-color: black;

}

.folio-screen-cap {

  height: 360px;
  width: 360px;

}


#ac-img {

  width:%100;
  height:%100;

}


.contact-box {
  margin-top: 2vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 4.5vh;
  width: 100vw;
  min-height: 75vh; 
  color: white;
  background-color: #219653;

}

#contact-header {

  font-style: italic;
  font-size:12vh;
}

#contact-button {
color: #E58D09;
font-family: inherit;
font-style: italic;
font-size: 100px;
background-color: #219653
}



.social-media-box {

height: 25vh;
width: 100vw;
display:flex;
justify-content: space-around;
align-items: center;
font-size: 5vh;
color: #219653;

}



.blinking-cursor {
  font-weight: 100;
  font-size: 12vh;
  color: #2E3D48;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color:orange 
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffa500;
  }
}





