
body {
padding:0px;
margin:0px;
background-color: bisque;
}

.grid-area{

grid-auto


}


/* what i want to do is either set the png as fixed size. Let the grid to fit for it. */

/* or set the grid size as fixed. To let the content to fit for it */
