
body {
padding:0px;
margin:0px;
background-color: bisque;
}


.interests-grid-wrapper {

display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

}

/* what i want to do is either set the png as fixed size. Let the grid to fit for it. */

/* or set the grid size as fixed. To let the content to fit for it */
